language: java

addons:
  firefox: latest
  chrome: stable
install: true  
env:
  global:
#    - CAPTURE_URL="http://ec2-35-176-47-3.eu-west-2.compute.amazonaws.com"
#    - SUT_NAME="frameworkium-core"
#    - SUT_VERSION=${TRAVIS_BRANCH}
#    - THREAD_COUNT=2
#    - SELENIUM_MAJ_VER=3.14
#    - SELENIUM_VER=${SELENIUM_MAJ_VER}.0
#    - SELENIUM_JAR=selenium-server-standalone-${SELENIUM_VER}.jar
    - GECKO_VER=0.21.0
    - CHROME_DRIVER_VER=2.41
#   - MOZ_HEADLESS=1
    # Override Travis default to give browsers more room
#    - _JAVA_OPTIONS="-Xmx1024m -Xms128m"
    # Required to turn on workaround for the following issue:
    # https://github.com/travis-ci/travis-ci/issues/8836
    - CHROME_NO_SANDBOX=true

before_install:
  #- start your web application and listen on `localhost`
  #- google-chrome-stable --headless --disable-gpu --remote-debugging-port=9222 http://localhost &
  
  - wget --quiet https://github.com/mozilla/geckodriver/releases/download/v${GECKO_VER}/geckodriver-v${GECKO_VER}-linux64.tar.gz
  - mkdir geckodriver
  - tar -xzf geckodriver-v${GECKO_VER}-linux64.tar.gz -C geckodriver
  - export PATH=$PATH:$PWD/geckodriver
  - echo $PATH
  - ls /home/travis/build/quan612/TestPlaneTicket/geckodriver
#  - sudo apt-get -qq update
#  - sudo apt-get install -y dbus-x11
#sudo: 
#  - required

before_script:
  - export DISPLAY=:99.0
  - /sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -ac -screen 0 1400x1024x16
    # Download chromedriver
  - wget --quiet http://chromedriver.storage.googleapis.com/${CHROME_DRIVER_VER}/chromedriver_linux64.zip
  - unzip chromedriver_linux64.zip
  - ls /home/travis/build/quan612/TestPlaneTicket
#  - "curl -H 'Authorization: token deb9f3f25a9e1b5bcb452baba91c3471e7631c4b' https://api.github.com/quan612"
  
script: mvn clean test
deploy:
  provider: releases
  api_key: ${api_key}
#    secure: "VAdRCvda7RQIbFMpc46CzTiMyaUKpX7abOYfL3GsYIxuUKKsf8IQGphhUOIVB1cm2ps99UAjJOAr3uyWwKV9b+4jq+NwOc8Mi7wNMUG736/gyEDLDbI5MHjQvzjNeoQkADKhNCGFROAhhBcMdtha4HWi1+SOrKnbXxoy5pn4EnXsrJyXWze2vlfgnLl1LFd6EIarkgqIlo7jB9Le8xoZLGiK7LGdXBq7L8w+iX/R1k3X0xak0r+ndrWyyNsoaJM5Pvy9Yaqs1v3jUpk1AqyIUVGpWGuLlbWxNa/R96XVoOdemh72a8oiDGGtiWTxNI+vmkfqiC6Hb3rUN0Lxy+WB0woRFu/qvR072pRHmF3YOjk+TP0v5eYBgaCWq3S0s6e2hmFy4KKMWFk7JFs4xo4Jln04OB3UbL1zFBiFeECS8oVJP/qbYyAB6Mg16G2xJN002xJ1kAg2uBIOUTTgZYvprHuL+id4kijXF3N4OIRlmAv5ikzavqmA86p87R+s6/g6ZKiTCdkU1iV0R3mjaYOy3lzIhkiY/d8PZBE+JdkECXrothYkoOdYxBh5feDCx/QxJcEssQxZcWqAVIJw/cZf0Jddc6uyXpMRz7PfX0Umh59zVpEv8T0dYIU0ZsVrRUvimbPmoMPm+IqMRZ3dJGCOTJSKr2RMl+Q9Hm4tm9SBfXM="
#  user: quan612
# password: Qu@n6121988
  file_glob: true
  file: "/home/travis/build/quan612/TestPlaneTicket/TestReport/*"
  keep-history: true
  skip_cleanup: true
  on:
    tags: false
    repo: quan612/TestPlaneTicket
    all_branches: true
#    branches:    # ← new!
#      only:      # ← new!
#        - master
after_script:

  - ls /home/travis/build/quan612/TestPlaneTicket
  - ls /home/travis/build/quan612/TestPlaneTicket/TestReport
