<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <listeners>
        <listener class-name="utils.Listeners.TestListener"/>     
    </listeners>
  
  <test name="Firefox Test">
 	<parameter name = "browser" value = "firefox"/> 
   		<classes>    
     		<!--<class name="cucumber.TestRunner.CucumberRunner"></class>-->    		
    		    <class name="pageTests.FlightHomePageTest">
     				<methods>
      					<!--<include name="Verify_User_Is_Presented_At_Flight_Tab"></include>-->
      					<include name="TestDatePicker"></include>
					</methods>
				</class>     			 
   		</classes>
  </test>        
  	<!--<test name="Chrome Test">
  			<parameter name = "browser" value = "chrome"/>
   				<classes>         			
    			 	<class name="cucumber.TestRunner.CucumberRunner">
    			  	<class name="pageTests.FlightHomePageTest">   		
     			 </class>
   		</classes>
  	</test>-->  	  
</suite>